<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ToDo{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>

<header class="header">
    <h1>ToDoアプリ</h1>
</header>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

</body>
</html>