{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<h2>ログイン画面</h2>

<form method="POST">
    <div>
        <label for="email">メールアドレス</label><br>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">パスワード</label><br>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">ログイン</button>
</form>

<p><a href="{{ url_for('auth.register') }}">新規登録へ</a></p>
{% endblock %}