{% extends "base.html" %}

{% block title %}タスク詳細{% endblock %}

{% block content %}
<h2>タスク詳細</h2>

<p>ID: {{ task.id }}</p>
<p>タイトル: {{ task.title }}</p>
<p>詳細: {{ task.description if task.description else "未入力" }}</p>
<p>状態: {{ task.status }}</p>
<p>作業開始日: {{ task.start_date if task.start_date else "未設定" }}</p>
<p>目標終了日: {{ task.end_date if task.end_date else "未設定" }}</p>
<p>作業開始時間: {{ task.start_time if task.start_time else "未設定" }}</p>
<p>目標終了時間: {{ task.end_time if task.end_time else "未設定" }}</p>
<p>作成日: {{ task.created_at }}</p>
<p>更新日: {{ task.updated_at }}</p>



<div class="actions">
    <a href="{{ url_for('tasks.task_edit', task_id=task.id) }}">編集</a>
    <a href="{{ url_for('tasks.task_list') }}">一覧へ戻る</a>

    <form method="POST" action="{{ url_for('tasks.task_delete', task_id=task.id)}}">
        <button type="submit">削除する</button>
    </form>
</div>

{% endblock %}