{% extends "base.html" %}

{% block title %}タスク更新{% endblock %}

{% block content %}
<h2>タスク編集</h2>

<form method="POST">
    <p>
        <label>タイトル</label><br>
        <input type="text" name="title" value="{{ task.title }}">
    </p>

    <p>
        <label>詳細</label><br>
        <textarea name="description">{{ task.description if task.description else "" }}</textarea>
    </p>

    <button type="submit">更新する</button>
</form>

<div class="actions">
    <a href="{{ url_for('tasks.task_detail', task_id=task.id)}}">詳細に戻る</a>
    <a href="{{ url_for('tasks.task_list') }}">一覧に戻る</a>
</div>
{% endblock %}